body{
    text-align: center;
    justify-content: center;
    display: flex; 
}
.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    width: 600px;
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 1009%;
    padding-top: 30px;
    background-color: white;
  }
 
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  } 


 
  .name{
      padding-left: 10px;
      font-size: 20px;
  }
  
  .second-input{ 
    padding-top: 15px;
      border-radius: 10px;
  }

  button{
    background-color: #003049;
    color: #f3f7fa;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .login-button{
      padding-top: 20px;  
    
  }

  .link{
      font-size: 20px;
      font-weight: 400;
  }
   a{
       color: #2e5786; 
   }
